<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILocationService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IManagerService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IDocumentEditorService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IBPMNEditor">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IWoLaService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/LocationService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationService"
                contract="LocationService.ILocationService" name="BasicHttpBinding_ILocationService" />
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/ManagerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService"
                contract="ManagerService.IManagerService" name="BasicHttpBinding_IManagerService" />
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/DocumentEditorService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentEditorService"
                contract="DocumentEditorService.IDocumentEditorService" name="BasicHttpBinding_IDocumentEditorService" />
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/BPMNEditorService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBPMNEditor"
                contract="BPMNEditorService.IBPMNEditor" name="BasicHttpBinding_IBPMNEditor" />
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWoLaService"
                contract="WoLaService.IWoLaService" name="BasicHttpBinding_IWoLaService" />
        </client>
    </system.serviceModel>
</configuration>