<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWoLaService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IManagerService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IEngineService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/WoLaService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWoLaService"
                contract="WoLaService.IWoLaService" name="BasicHttpBinding_IWoLaService" />
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/ManagerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService"
                contract="ManagerService.IManagerService" name="BasicHttpBinding_IManagerService" />
            <endpoint address="https://wfe.mik.uni-pannon.hu:8735/FlowService/EngineService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEngineService"
                contract="EngineService.IEngineService" name="BasicHttpBinding_IEngineService" />
        </client>
    </system.serviceModel>
</configuration>